/* src/pages/LoginPage.css */
.login-container {
  min-height: 100vh;
  background: #1b304de6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
}

.login-card {
  background: #193871;
  padding: 2.5rem;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 40vw;
  max-width: 400px;
}

.login-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form-group label {
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  margin-bottom: 0.3rem;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 0.6rem 0.75rem;
  border: 1px solid #ccc;
  // border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.form-group input:focus {
  outline: none;
  border-color: #4da6ff;
}

.login-button {
  padding: 0.75rem;
  background-color: #11254b;
  color: white;
  border: none;
  // border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
  background-color: #4a5d7e;
}

.login-footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}

.login-footer a {
  color: #3399ff;
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}

.invalid-message{
  color: #319eac;
}