@import "@/assets/scss/my-variables";


$props: (
  width: (
    name: "width",
    default:20px,
  ),
  max-width:(
    name: "max-width",
  ),
  min-width:(
    name: "min-width",
  ),
  height:(
    name: "height",
    default:20px,
  ),
  max-height:(
    name: "max-height",
  ),
  min-height:(
    name: "min-height",
    
  ),

);

.empty-box{

    @include generate-rwd-stylesheet($props);

    // @media only screen and (min-width: 1536px){
    //     width:var(--width-xxl, 20px);
    //     max-width: var(--max-width-xxl);
    //     min-width: var(--min-width-xxl);
    //     height:var(--height-xxl, 20px);
    //     max-height: var(--max-height-xxl);
    //     min-height: var(--min-height-xxl);
    // }
    // @media only screen and (min-width: 1280px) and (max-width: 1535px){
    //     width:var(--width-xl, 20px);
    //     max-width: var(--max-width-xl);
    //     min-width: var(--min-width-xl);
    //     height:var(--height-xl, 20px);
    //     max-height: var(--max-height-xl);
    //     min-height: var(--min-height-xl);
    // }
    // @media only screen and (min-width: 1024px) and (max-width: 1279px){
    //     width:var(--width-lg, 20px);
    //     max-width: var(--max-width-lg);
    //     min-width: var(--min-width-lg);
    //     height:var(--height-lg, 20px);
    //     max-height: var(--max-height-lg);
    //     min-height: var(--min-height-lg);
    // }
    // @media only screen and (min-width: 768px) and (max-width: 1023px){
    //     width:var(--width-md, 20px);
    //     max-width: var(--max-width-md);
    //     min-width: var(--min-width-md);
    //     height:var(--height-md, 20px);
    //     max-height: var(--max-height-md);
    //     min-height: var(--min-height-md);
    // }
    // @media only screen and (min-width: 640px) and (max-width: 767px){
    //     width:var(--width-sm, 20px);
    //     max-width: var(--max-width-sm);
    //     min-width: var(--min-width-sm);
    //     height:var(--height-sm, 20px);
    //     max-height: var(--max-height-sm);
    //     min-height: var(--min-height-sm);
    // }
    // @media only screen and (min-width: 390px) and (max-width: 636px){
    //     width:var(--width-xs, 20px);
    //     max-width: var(--max-width-xs);
    //     min-width: var(--min-width-xs);
    //     height:var(--height-xs, 20px);
    //     max-height: var(--max-height-xs);
    //     min-height: var(--min-height-xs);
    // }
    // @media only screen and (max-width: 389px){
    //     width:var(--width-xxs, 20px);
    //     max-width: var(--max-width-xxs);
    //     min-width: var(--min-width-xxs);
    //     height:var(--height-xxs, 20px);
    //     max-height: var(--max-height-xxs);
    //     min-height: var(--min-height-xxs);
    // }


}