

/* .iti{
  display:inline !important;
  margin-left: 10px !important;
} */


.iti__flag {background-image: url("../../assets/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.iti__flag {background-image: url("../../assets/img/flags@2x.png");}
}