@import "../../assets/scss/variables";

.shop-grid{
    min-width: 10vw;
    min-height: 5vh;
    width: 80vw;

    padding-top: 20px;
    padding-bottom: 20px;

    @media #{$md-layout} {
        width: 95vw;
    }
    @media #{$xs-layout} {
        width: 95vw;
    }
}



.shop-grid-ssr{
    display: none;
}