@import "@/assets/scss/my-variables";

$props: (
  width: (
    name: "width",
    default:24px,

  ),
  max-width:(
    name: "max-width",
  ),
  min-width:(
    name: "min-width",
  ),
  height:(
    name: "height",
    default:24px,
  ),
  max-height:(
    name: "max-height",
  ),
  min-height:(
    name: "min-height",
  ),
  line-height:(
    name: "line-height",
  ),
  font-size:(
    name: "font-size",
  ),
);

.component{



    


    .button-block{
        text-align: center;
        cursor: pointer;
        color: var(--button-font-color);
        &:hover{
            color: var(--button-font-color2);
        }
        
        @include generate-rwd-stylesheet($props);

        // @media only screen and (min-width: 1536px){
        //     width:var(--width-xxl, 24px);
        //     max-width: var(--max-width-xxl);
        //     min-width: var(--min-width-xxl);
        //     height:var(--height-xxl, 24px);
        //     max-height: var(--max-height-xxl);
        //     min-height: var(--min-height-xxl);
        //     line-height: var(--line-height-xxl);
        //     font-size: var(--font-size-xxl);
        // }
        // @media only screen and (min-width: 1280px) and (max-width: 1535px){
        //     width:var(--width-xl, 24px);
        //     max-width: var(--max-width-xl);
        //     min-width: var(--min-width-xl);
        //     height:var(--height-xl, 24px);
        //     max-height: var(--max-height-xl);
        //     min-height: var(--min-height-xl);
        //     line-height: var(--line-height-xl);
        //     font-size: var(--font-size-xl);
        // }
        // @media only screen and (min-width: 1024px) and (max-width: 1279px){
        //     width:var(--width-lg, 24px);
        //     max-width: var(--max-width-lg);
        //     min-width: var(--min-width-lg);
        //     height:var(--height-lg, 24px);
        //     max-height: var(--max-height-lg);
        //     min-height: var(--min-height-lg);
        //     line-height: var(--line-height-lg);
        //     font-size: var(--font-size-lg);
        // }
        // @media only screen and (min-width: 768px) and (max-width: 1023px){
        //     width:var(--width-md, 24px);
        //     max-width: var(--max-width-md);
        //     min-width: var(--min-width-md);
        //     height:var(--height-md, 24px);
        //     max-height: var(--max-height-md);
        //     min-height: var(--min-height-md);
        //     line-height: var(--line-height-md);
        //     font-size: var(--font-size-md);
        // }
        // @media only screen and (min-width: 640px) and (max-width: 767px){
        //     width:var(--width-sm, 24px);
        //     max-width: var(--max-width-sm);
        //     min-width: var(--min-width-sm);
        //     height:var(--height-sm, 24px);
        //     max-height: var(--max-height-sm);
        //     min-height: var(--min-height-sm);
        //     line-height: var(--line-height-sm);
        //     font-size: var(--font-size-sm);
        // }
        // @media only screen and (min-width: 390px) and (max-width: 636px){
        //     width:var(--width-xs, 24px);
        //     max-width: var(--max-width-xs);
        //     min-width: var(--min-width-xs);
        //     height:var(--height-xs, 24px);
        //     max-height: var(--max-height-xs);
        //     min-height: var(--min-height-xs);
        //     line-height: var(--line-height-xs);
        //     font-size: var(--font-size-xs);
        // }
        // @media only screen and (max-width: 389px){
        //     width:var(--width-xxs, 24px);
        //     max-width: var(--max-width-xxs);
        //     min-width: var(--min-width-xxs);
        //     height:var(--height-xxs, 24px);
        //     max-height: var(--max-height-xxs);
        //     min-height: var(--min-height-xxs);
        //     line-height: var(--line-height-xxs);
        //     font-size: var(--font-size-xxs);
        // }



        &:hover{
            color:var(--button-font-color2)
        }
    }

    // &:hover{
    //     .button-block{
    //         color:var(--button-font-color2)

    //     }
    // }

   
    
}

.side-bar {

    width: 100%;
    min-height: 100%;
    
//    display: none;

   &.can-drop{
        border: solid;
        border-width: 1px;
        border-color: #006eff;
    }

    &.is-over{
        border: solid;
        border-width: 1px;
        border-color: #26ff00;
    }
}



