.modal{
    z-index: 9999;






}



.modal-body{

}

.modal-header{
    
}
.drag-item{
    text-align: center;
    margin:10px 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: black;
}
.valid-relation-title{
    text-align: center;
}
.valid-relation-container{
    padding: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.valid-relation{
    font-size: 14px;
    &:hover{
        cursor: pointer;
        font-size: 16px;
    }
}